<fieldset>
    <legend class="produitdetailsection">PLV Chevalet</legend>
    <ul>
        <li>Chevalet de gamme
            <ul>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Chevalet_gamme_A5.pdf")">Chevalet_gamme_A5.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Chevalet_gamme_A6.pdf")">Chevalet_gamme_A6.pdf</a>
                </li>
            </ul>
        </li>
        <li>Chevalet vitrine
            <ul>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Chevalet_vitrine_A5.pdf")">Chevalet_vitrine_A5.pdf</a>
                </li>
            </ul>
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend class="produitdetailsection">PLV Luminaire</legend>
    <ul>
        <li><a href="@Url.Content("~/Content/PlvsVierges/Luminaire_A6.pdf")">Luminaire_A6.pdf</a></li>
        <li><a href="@Url.Content("~/Content/PlvsVierges/Luminaire_A7.pdf")">Luminaire_A7.pdf</a></li>
    </ul>
</fieldset>
<fieldset>
    <legend class="produitdetailsection">PLV Permanents</legend>
    <ul>
        <li>Recto verso
            <ul>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Permanente_recto_verso_A5.pdf")">Permanente_recto_verso_A5.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Permanente_recto_verso_A6.pdf")">Permanente_recto_verso_A6.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Permanente_recto_verso_A7.pdf")">Permanente_recto_verso_A7.pdf</a>
                </li>
            </ul>
        </li>
        <li>Simples
            <ul>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Permanente_simple_A5.pdf")">Permanente_simple_A5.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Permanente_simple_A6.pdf")">Permanente_simple_A6.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Permanente_simple_A7.pdf")">Permanente_simple_A7.pdf</a>
                </li>
            </ul>
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend class="produitdetailsection">PLV Soldés</legend>
    <ul>
        <li>Recto verso
            <ul>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Solde_recto_verso_A5.pdf")">Solde_recto_verso_A5.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Solde_recto_verso_A6.pdf")">Solde_recto_verso_A6.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Solde_recto_verso_A7.pdf")">Solde_recto_verso_A7.pdf</a>
                </li>
            </ul>
        </li>
        <li>Simples
            <ul>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Solde_simple_A5.pdf")">Solde_simple_A5.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Solde_simple_A6.pdf")">Solde_simple_A6.pdf</a>
                </li>
                <li><a href="@Url.Content("~/Content/PlvsVierges/Solde_simple_A7.pdf")">Solde_simple_A7.pdf</a>
                </li>
            </ul>
        </li>
    </ul>
</fieldset>
